{% extends 'common/index_page.html' %}
{% block content %}
    <li class="text-margin-left">
        <ul class="list-group" style="margin-bottom: 20px;">
            {% for procedure in procedure_list %}
                <li class="list-group-item"><i class="bi bi-calendar-check"></i>Date: {{ procedure.date }}; <i
                        class="bi bi-person-circle"></i>Customer name: {{ procedure.customer.get_full_name }}; <i
                        class="bi bi-bookmark-heart"></i>Main type of procedure
                    is: {{ procedure.main_type_of_procedure }}; <i class="bi bi-person-check"></i>Hairstylist: {{ procedure.customer.hair_stylist.all|join:", " }}</li>
            {% endfor %}
            <ul class="list-group">
                <li class="list-group-item">Number of all customer's procedures are: {{ procedure_list.count }}!</li>
            </ul>
{% endblock %}