{% extends 'common/index_page.html' %}
{% block content %}
    {% if current_customers_has_procedures %}
    {% for procedure in current_customers_has_procedures %}
        <div id="labelIdforPlainText">Main type of procedure is: {{ procedure.main_type_of_procedure }}</div>
        <div id="labelIdforPlainText">Before image:</div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ procedure.before_image.url }}">
                    <img src="{{ procedure.before_image.url }}" alt="Lights" style="width:50%">
                </a>
            </div>
        </div>
        <div id="labelIdforPlainText">After image:</div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ procedure.after_image_image.url }}">
                    <img src="{{ procedure.after_image.url }}" alt="Lights" style="width:50%">
                </a>
            </div>
        </div>
    {% endfor %}
    {% else %}
    <div id="labelIdforPlainText">No procedures!</div>
    {% endif %}
    <div id="labelIdforPlainText">Number of customer's procedures are: {{ current_customers_has_procedures.count }}!</div>
{% endblock %}