{% extends 'common/index_page.html' %}
{% block content %}
    {% if current_customers_has_procedures %}
         <div class="container">
            <div class="row">
        {% for procedure in current_customers_has_procedures %}
            <div class="col-sm-3 mb-4">
            <div class="card" style="width: 18rem; margin-left: 20px;">
  <img class="card-img-top" style="height: 380px;" src="{{ procedure.after_image.url }}" alt="After image">
  <div class="card-body">
    <h5 class="card-title">After image of last procedure: </h5>
    <p class="card-text"><i class="bi bi-person-circle"></i> {{ object.get_full_name }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" class="font-weight-bold">Main type of procedure is: {{ procedure.main_type_of_procedure }}</li>
    <li class="list-group-item"><i class="bi bi-calendar-check-fill"></i> {{ procedure.date }}</li>
    <li class="list-group-item"><i class="bi bi-telephone-fill"></i> {{ object.phone_number }}</li>
    <li class="list-group-item">Number of customer's procedures are: {{ current_customers_has_procedures.count }}!</li>
  </ul>
  <div class="card-body">
    <a class="btn btn-info btn-sm" href="{% url 'full information for procedure' pk=procedure.pk %}" id="buttonSmallAdd">Full information</a>
  </div>
</div>
{#            <div id="labelIdforPlainText">Main type of procedure is: {{ procedure.main_type_of_procedure }}</div>#}
{#                    <div id="labelIdforPlainText">Before image / After image:</div>#}
{#                        <div >#}
{#                             <img class="image-of-customers" src="{{ procedure.before_image.url }}" alt="Lights">#}
{#                            <img class="image-of-customers" src="{{ procedure.after_image.url }}" alt="Lights">#}
{#                        </div>#}
            </div>
        {% endfor %}
            </div>
         </div>
    {% else %}
        <div id="labelIdforPlainText">No procedures!</div>
    {% endif %}
    <div id="labelIdforPlainText">Number of customer's procedures are: {{ current_customers_has_procedures.count }}!
    </div>
{% endblock %}