<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'register user' %}">
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.phone_number }}
    {{ form.password1 }}
    {{ form.password2 }}
    {{ form.gender }}
    {{ form.hair_type }}
    {{ form.hair_long }}
    {{ form.further_explanation }}
    <button type="submit">Register</button>
    {% csrf_token %}
</form>
</body>
</html>