{% extends 'common/index_page.html' %}
{% block content %}
    {% if customers %}
            <li class="text-margin-left">
        <ul class="list-group" style="margin-bottom: 20px;">
        {% for customer in customers %}

            <li class="list-group-item">
            <i class="bi bi-person-circle"></i>{{ customer.full_name_and_phone_number }}
            <div >Customer's procedures <a
                    href="{% url 'procedures of customer' pk=customer.pk %}"
                    class="btn btn-outline-info btn-sm" role="button">Show
                info</a>
                <a href="{% url 'delete customer profile' pk=customer.pk %}"
                   class="btn btn-outline-info btn-sm" role="button">Delete
                    user</a>
                <a href="{% url 'edit customer profile' pk=customer.pk %}"
                   class="btn btn-outline-info btn-sm" role="button">Edit
                    user</a>
            </div>
            </li>

        {% endfor %}
           <ul class="list-group">
    <li class="list-group-item" style="background-color: grey; color: white">Number of my customers are: {{ customers.count }}!</li>
</ul>
        {% include 'common/pagination.html' %}
    {% else %}
        <h3 id="labelIdforPlainText">No customers yet!</h3>
    {% endif %}
{% endblock %}
