{% extends 'common/index_page.html' %}
{% block content %}
    <div class="box-in-center">
        <!-- Start Login Section-->
        <div class="login-register-div">
            <div class="login-register-box">
                <form method="post" action="{% url 'edit customer profile' pk=object.pk %}">
                    {% for field in form %}
                        <div>
                            {% if field.label %}
                                <div id="labelIdforFiels">{{ field.label }}</div>
                            {% endif %}
                            <div id="fieldsStyle">{{ field }}</div>
                        {% if field.errors %}
                             <div class="alert alert-danger" role="alert" style="padding: 0; height: 50px;">{{ field.errors }}</div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <div><input name="next" type="hidden" value="{% url 'index page' %}"></div>
                    <div>
                        <button type="submit" class="btn btn-primary" id="buttonSubmision">Edit</button>
                    </div>
                    {% csrf_token %}
            </form>
        </div>
    </div>
    </div>
{% endblock %}