{% extends 'common/index_page.html' %}
{% block content %}
<div class="box-in-center">
    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <form method="post" action="{% url 'login user' %}">
                {% for field in form %}
                    <div>
                        {% if field.errors %}
                             <div class="errors">{{ field.errors }}</div>
                        {% endif %}
                        {% if field.label %}
                            <div id="labelIdforFiels">{{ field.label }}:</div>
                        {% endif %}
                        <div id="fieldsStyle">{{ field }}</div>
                    </div>
                {% endfor %}
                <div><input name="next" type="hidden" value="{% url 'index page with profile' %}"></div>
                <div><button type="submit" class="btn btn-primary" id="buttonSubmision">Log in</button></div>
                {% csrf_token %}
            </form>
            <!-- End Login Form -->
        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <div id="labelIdforPlainText">Don't have account? <a id="linkText" href="{% url 'register user' %}">Register</a></div>
        </div>
    </div>
</div>
    <!-- End Login Section-->

{% endblock %}