{% extends 'common/index_page.html' %}
{% block content %}
 <div class="d-flex align-items-center justify-content-center h-100" style="color: white;">
        <div class="d-md-inline-flex justify-content-center" style="padding: 20px; border: 2px solid white ;border-radius: 30px; color: white;">
        <div class="login-register-box">
            <form method="post" action="{% url 'login user' %}">
                {% for field in form %}
                    <div>
                        {% if field.label %}
                                <div id="labelIdforFiels" style="margin-bottom: 10px; margin-top: 15px;">{{ field.label }}</div>
                        {% endif %}
                        <div id="fieldsStyle">{{ field }}</div>
                    {% if field.errors %}
                             <div class="alert alert-danger d-flex align-items-right justify-content-right h-100" role="alert" style="padding: 0;">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div><input name="next" type="hidden" value="{% url 'index page with profile' %}"></div>
                <div><button type="submit" class="btn btn-primary" id="buttonSubmision">Log in</button></div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
            <div class="just-in-center" style="color: white;">Don't have account? <a id="linkText" style="margin-left: 4px; color: deeppink;" href="{% url 'register user' %}">Register</a></div>

{% endblock %}