{% extends 'common/index_page.html' %}
{% block content %}
    {% if customers %}
    {% for customer in customers %}
        <div id="labelIdforPlainText">{{ customer.full_name_and_phone_number }}</div>
        <div id="labelIdforPlainText">Customer's procedures <a href="{% url 'all customer procedures' pk=customer.pk%}" class="btn btn-outline-info" role="button"  id="buttonSubmision">Show
            info</a></div>
    {% endfor %}
    {% else %}
    <div id="labelIdforPlainText">You don't have any customers yet!</div>
    {% endif %}

    <div id="labelIdforPlainText">
        All beauty salon customers are: {{ customers.count }}!
    </div>
{% endblock %}