{% extends 'common/index_page.html' %}
{% block content %}
    <div class="box-in-center">
        <!-- Start Login Section-->
        <div class="login-register-div">
            <div class="login-register-box">
                <form method="post" action="{% url 'register user' %}">
                    {% for field in form %}
                    <div>
                        {% if field.label %}
                            <div id="labelIdforFiels">{{ field.label }}:</div>
                        {% endif %}
                        <div id="fieldsStyle">{{ field }}</div>
                        {% if field.errors %}
                             <div class="alert alert-danger" role="alert" style="padding: 0; height: 50px; marker: none">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div><input name="next" type="hidden" value="{% url 'register user' %}"></div>
                <div><button type="submit" class="btn btn-primary" id="buttonSubmision">Register staff!</button></div>
                {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}