{% extends 'common/index_page.html' %}
{% block content %}
<form method="post" action="{% url 'register user' %}">
       {% for field in form %}
            <div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {% if field.label %}
                    <ul>{{ field.label }}</ul>
                {% endif %}
                <ul>{{ field }}</ul>
            </div>
        {% endfor %}
    <ul><button type="submit" class="btn btn-primary">Register me!</button></ul>
        {% csrf_token %}
    {% csrf_token %}
</form>
{% endblock %}