{% extends 'common/index_page.html' %}
{% block content %}
    {% if request.user.is_superuser %}
    <form method="post" action="{% url 'add product' %}">
        {% for field in form %}
            <div>
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                {% if field.label %}
                    <ul>{{ field.label }}</ul>
                {% endif %}
                <ul>{{ field }}</ul>
            </div>
        {% endfor %}
        <ul>
            <button type="submit" class="btn btn-primary">Add</button>
        </ul>
        {% csrf_token %}
    </form>
    {% else %}
    <li>No form</li>
    {% endif %}
{% endblock %}