{% extends 'common/index_page.html' %}
{% block content %}
    <div id="labelIdforPlainText">Number of products: {{ addproducts_list.count }}</div>
    <div>
        <a class="btn btn-info" href="{% url 'add product' %}" id="buttonSubmision">Add product</a>
    </div>
    <div>
        <a href="{% url 'index page' %}" id="labelIdforFiels">Go
            back</a>
    </div>
    {% if user.is_authenticated and addproducts_list %}
        <div>
            <div id="labelIdforPlainText">List of our products:</div>
            {% for product in addproducts_list %}
                <div id="labelIdforPlainText">{{ product.information_about_product }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}