{% extends 'common/index_page.html' %}
{% load custom_filters %}
{% block content %}
    {% if user|has_group:"Managers" %}
 <div class="d-flex align-items-center justify-content-center h-100" style="color: white;">
        <div class="d-md-inline-flex justify-content-center" style="padding: 20px; border: 2px solid white ;border-radius: 30px; color: white;">
            <div class="login-register-box">
                <form method="post" action="{% url 'edit product' pk=object.pk %}">
                    {% for field in form %}
                        <div>
                            {% if field.label %}
                                <div id="labelIdforFiels" style="margin-bottom: 10px; margin-top: 15px;">{{ field.label }}</div>
                            {% endif %}
                            <div id="fieldsStyle">{{ field }}</div>
                        {% if field.errors %}
                             <div class="alert alert-danger d-flex align-items-right justify-content-right h-100" role="alert" style="padding: 0;">{{ field.errors }}</div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <div><input name="next" type="hidden" value="{% url 'detail product' %}"></div>
                    <div>
                        <button type="submit" class="btn btn-primary" id="buttonSubmision">Edit</button>
                    </div>
                    {% csrf_token %}
            </form>
        </div>
    </div>
    </div>
    {% endif %}
{% endblock %}