{% extends 'common/index_page.html' %}
{% block content %}
    {% if customers %}
<div class="d-flex align-items-center justify-content-center h-100" style="color: white;">
        <div class="d-md-inline-flex justify-content-center" style="padding: 20px; border: 2px solid white ;border-radius: 30px; color: white;">
                <div class="login-register-box">
                    <form method="post" action="{% url 'booking customer procedure' %}">
                         {% for field in form %}
                    <div>
                        {% if field.label %}
                                <div id="labelIdforFiels" style="margin-bottom: 10px; margin-top: 15px;">{{ field.label }}</div>
                        {% endif %}
                        <div id="fieldsStyle">{{ field }}</div>
                    {% if field.errors %}
                             <div class="alert alert-danger d-flex align-items-right justify-content-right h-100" role="alert" style="padding: 0;">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
{#                <div><input name="next" type="hidden" value="{% url '' %}"></div>#}
                <div><button type="submit" class="btn btn-primary" id="buttonSubmision">Add</button></div>
                {% csrf_token %}
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    <div class="alert alert-light" role="alert" style="margin-left: 180px; margin-right: 180px; margin-top: 20px; padding: 3px;">
    <i class="bi bi-info-circle-fill"></i> The information in this section can be EDIT only from admin site.
        You can DELETE booked procedures from 'Booked procedures' section, when they finished.
        You can ADD booking-procedure to your clients.
        BMSystem inform: If you DELETE your customer, all the booked-procedures information of her/him will delete too!
</div>
    {% else %}
         <div class="d-flex align-items-center justify-content-center h-100" style="color: white;">
        <div class="d-md-inline-flex justify-content-center" style="padding: 20px; border: 2px solid white ;border-radius: 30px; color: white;">
                <div class="login-register-box">
                    <h4 style="text-align: center; color: white;">No customers yet!</h4>
                    <h4 style="text-align: center; color: white;">Do you want to add customer?</h4>
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <a href="{% url 'add customer' %}" type="submit" class="btn btn-dark">Yes</a>
                        </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}