{% extends 'common/index_page.html' %}
{% load static %}
{% block content %}
<div class="conteiner-for-text">
<h3 class="centered-info-page">Lorem Ipsum</h3>
    <p class="text-just-in-center">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida ipsum odio, quis bibendum ex ornare vitae. Fusce eu tristique dui. In tempor a nisi at egestas. Fusce imperdiet leo ut interdum ultricies. Cras tellus metus, mattis eu magna ac, volutpat placerat nulla. Vivamus et velit a purus placerat cursus. Vestibulum viverra sodales erat eu pellentesque. Maecenas sit amet risus lobortis, tempor quam et, volutpat erat. Donec non semper ligula. Sed consectetur efficitur malesuada. Nunc fermentum dolor et odio mollis maximus. Phasellus sem ante, sodales ut porttitor et, sagittis vel purus. Ut non lectus in elit maximus mollis.
</p>
    <p class="text-just-in-center">Praesent vitae sodales nulla. In eu felis sit amet libero ornare consequat. Integer lacinia et nulla at sodales. Nunc egestas tortor at erat ultricies placerat. Pellentesque volutpat tincidunt justo, in venenatis leo porttitor nec. Donec varius urna mauris, a tempor ipsum gravida nec. Vestibulum tincidunt sapien imperdiet, laoreet ipsum sed, varius nibh. Curabitur a quam dapibus, interdum augue eget, ornare diam. Morbi cursus tempor dolor, lacinia ultrices tellus varius ut.

Vestibulum at urna vitae ligula euismod bibendum. Aliquam consequat sem pulvinar, pharetra ante id, tincidunt orci. Nunc faucibus justo id ligula vehicula pharetra. Suspendisse placerat metus at elit maximus malesuada. Nullam eget urna odio. Integer varius in ex nec vehicula. Aliquam erat volutpat. Praesent tristique ligula a tortor interdum ullamcorper.
</p>
<p class="text-just-in-center">Praesent eget ante at ante malesuada faucibus. Aliquam vulputate at mauris eget lobortis. Nam lorem eros, egestas eget diam et, varius tristique purus. Fusce scelerisque feugiat tellus, in ornare odio tincidunt at. Nulla et scelerisque tellus, nec semper orci. Proin vitae pulvinar nunc, posuere hendrerit augue. Vivamus vel pellentesque ligula. Fusce in felis suscipit, bibendum ante sed, interdum nisi. Proin tortor risus, euismod sit amet semper non, ultricies eget nibh. Quisque lobortis rhoncus augue ut gravida. Sed lacus justo, mattis tempor arcu sit amet, facilisis ultrices orci. Donec ac nulla a mi tincidunt cursus. Phasellus dignissim ultricies nisi, sit amet vehicula felis congue vel.

Sed aliquet, massa non ultricies euismod, leo magna tincidunt diam, quis viverra turpis nisi at velit. Nunc non ipsum eu mauris hendrerit accumsan id eu quam. Morbi pellentesque dapibus lacus id sagittis. Etiam purus turpis, volutpat nec odio et, elementum volutpat sem. Praesent accumsan purus non lacinia pulvinar. Nunc porttitor justo tortor, a mollis lacus suscipit at. Curabitur sollicitudin nisi at velit porttitor iaculis. Vestibulum ac vulputate leo. Vestibulum condimentum, nisl sit amet sodales luctus, tellus dui accumsan purus, eu tristique lectus urna nec massa. Donec aliquet pretium quam, id accumsan purus aliquet vitae. Suspendisse fringilla orci et purus efficitur, ornare porttitor urna faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis viverra metus, a fermentum ex.

Generated 5 paragraphs, 443 words, 2997 bytes of Lorem Ipsum</p>

    <div class="just-in-center">
    <a href="{% url 'register user'%}"
               class="btn btn-primary" role="button" id="buttonSubmision">Register user</a>

</div>
</div>
{% endblock %}