{% extends 'common/index_page.html' %}
{% load static %}
{% block content %}
    <div class="conteiner-for-text">
        <p class="h2 text-center text-monospace" style="color: white; margin-bottom: 20px; size: 2rem;">Take your 'BEAUTY' business to the next level!</p>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 mb-3 d-flex align-items-center justify-content-center h-100">
                    <div class="card" style="width: 18rem; margin-left: 20px;" >
                        <img class="card-img-top" src="{% static '/images/bsm_info_page.jfif' %}" alt="Info page 1" style="height: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">Who is BMSystem?</h5>
                            <p class="card-text">We provide Management off all you need in your Beauty Business! All
                                information in one place!</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> No more paper!</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Make it professional!</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> No need to remember anything
                                - just make people BEAUTIFUL!
                            </li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Individual customization</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/reni-boyanova-a8763b253/" class="card-link" style="color: deeppink;">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 d-flex align-items-center justify-content-center h-100">
                    <div class="card" style="width: 18rem; margin-left: 20px;">
                        <img class="card-img-top" src="{% static 'images/bsm_info_page_3.jpg' %}" alt="Card image cap" style="height: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">A lot of opportunities</h5>
                            <p class="card-text">We will customize BMSystem for your needs. You can add products, brands, staffs or clients.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Personal admin for owners</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Different groups with permissions. You can be calm for your business information.</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Store all about your client procedures. You can see the results everytime that you need. No need to remember, to search in your phone pictures or to ask you staff anymore.</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/reni-boyanova-a8763b253/" class="card-link" style="color: deeppink;">Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 d-flex align-items-center justify-content-center h-100">
                    <div class="card" style="width: 18em; margin-left: 20px;">
                        <img class="card-img-top" src="{% static '/images/bsm_info_page_2.jfif' %}" alt="Card image cap" style="height: 400px;">
                        <div class="card-body">
                            <h5 class="card-title">Different plans:</h5>
                            <p class="card-text">Depending of your company size we will make a custom pay plan about your need.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Get first 3 months for FREE!</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> May cancel ANY TIME!</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Fast support including in your plan!</li>
                            <li class="list-group-item"><i class="bi bi-check-circle"></i> Free 'Full tutorial for using!'</li>
                        </ul>
                        <div class="card-body">
                            <a href="https://www.linkedin.com/in/reni-boyanova-a8763b253/" class="card-link" style="color: deeppink;">Contact us</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="just-in-center">
            <a href="{% url 'register user' %}"
               class="btn btn-primary" role="button" id="buttonSubmision">Register user</a>

        </div>
    </div>

{% endblock %}