{% extends 'common/index_page.html' %}
{% block content %}
    {% if staffs %}
            {% for staff in staffs %}
                <div class="card" style="margin-bottom: 10px; margin-left: 20px; margin-right: 20px;">
                <h5 class="card-header" style="background-color: grey">{{ staff.position }}</h5>
                <div class="card-body">
                    <h5 class="card-title">{{ staff.get_full_name }}</h5>
                    <p class="card-text">Number of customers: {{ staff.appcustomeruser_set.count }}</p>
                    <p class="card-text">Join in team: date!</p>
                    <a class="btn btn-outline-dark btn-sm"
                       href="{% url 'edit user' pk=staff.pk %}">Edit</a>

                </div>
                  </div>
            {% endfor %}
    {% else %}
  <div class="d-flex align-items-center justify-content-center h-100" style="color: white;">
        <div class="d-md-inline-flex justify-content-center" style="padding: 20px; border: 2px solid white ;border-radius: 30px; color: white;">
                <div class="login-register-box">
                    <h4 style="text-align: center; color: white;">No staffs yet!</h4>
                    <h4 style="text-align: center; color: white;">Do you want to add staff?</h4>
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <a href="{% url 'register user' %}" type="submit" class="btn btn-dark">Yes</a>
                        </div>
                </div>
            </div>
        </div>    {% endif %}
    {% include 'common/pagination.html' %}

{% endblock %}