body {
    background-image: url('/static/images/1 (3).jfif');
    background-size: cover;
    min-height: 100%;
}


nav.navbar {
    background-image: url('/static/images/1 (3).jfif');
    font-family: "Gill Sans Extrabold", sans-serif;
    background-size: cover;
}

body.login_page {
    background-image: url('/static/images/girls.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 80% 20%;
}


footer {
    color: #ffffff;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-family: "Gill Sans Extrabold", sans-serif;
    position: static;
}

.container-inline {
    color: white;
    margin: 1rem;
    padding: 2rem 2rem;


}

footer section {
    margin: 15px;
}

.footer-style {
    margin-top: 300px;
}

textarea {
    background: rgba(255, 255, 255, 0.4);
    border-color: white;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.errors {
    color: deeppink;
    text-decoration: underline deeppink;
}

.container button:active {
    background-color: white;
    color: black;
    border-color: black;
}


.centered {
    text-shadow: 2px 2px white;
    color: black;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34px;
    font-weight: bold;
}
