#labelIdforFiels {
    color: white;
    margin-bottom: 5px;

}

input {
    background-color: white;
    border-color: black;
    contain-intrinsic-size: 20px;

}

input:focus {
    color: black;
}

#fieldsStyle {
    margin-bottom: 40px;
}

#buttonSubmision {
    background-color: black;
    color: white;
    border-color: #333333;

}

div.login-register-div {
    margin-left: auto;
    margin-right: auto
}

.main-text-class {

}